html {
    font-size: 20px; 
    font-family: 'Courgette';
}
h1 {
    font-size: 60px;
    text-align: center;
}
p, li {
    font-size: 20px;
    line-height: 2;
    letter-spacing: 1px;
}
html {
    background-color: antiquewhite;
}
body {
    width: 600px;
    margin: 0 auto;
    background-color: antiquewhite;
    padding: 0 20px 20px 20px;
    border: 5px solid darkblue;
}
h1 {
    margin:0;
    padding: 20px 0;
    color:darkblue;
    text-shadow: 3px 3px 1px darkblue
}
img {
    display: block;
    margin: 0 auto;
}